<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to my Snippets Site</h1>
        <p class="lead">This site is dedicated to registering and managing snippets of information, code, and URLs.</p>
        <hr class="my-4">
        <p>Feel free to explore the different features and create your own snippets!</p>
    </div>
</div>
