<footer class="border-4 border-top nav-footer-bg">
    <div class="pt-5 text-center bg-light">
        <div class="card-body align-items-end">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <h4>Ressources</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/"
                                    target="_blank" class="text-dark">Bootstrap Docs</a></li>
                            <li><a href="https://reactjs.org/docs/getting-started.html" target="_blank"
                                    class="text-dark">React Docs</a></li>
                            <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"
                                    class="text-dark">JavaScript Docs</a></li>
                            <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"
                                    class="text-dark">CSS Docs</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="mailto:contact@monsite.com" target="_blank" class="text-dark">Email</a></li>
                            <li><a href="https://twitter.com/monsite" target="_blank" class="text-dark">Twitter</a></li>
                            <li><a href="https://www.linkedin.com/company/monsite/" target="_blank"
                                    class="text-dark">LinkedIn</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="bottom">
                        <p class="text-dark">Créé le 08/05/2023</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>