<footer class="border-4 border-top nav-footer-bg">
    <div class="pt-5 text-center bg-light">
        <div class="card-body align-items-end">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <h4>Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="mailto:contact@mysite.com" target="_blank" class="text-dark">Email</a></li>
                            <li><a href="https://twitter.com" target="_blank" class="text-dark">Twitter</a></li>
                            <li><a href="https://www.linkedin.com/in/raphaëldoucet/" target="_blank" class="text-dark">LinkedIn</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="bottom">
                        <p class="text-dark">Created on 05/08/2023</p>
                        <p class="text-dark">Modified on 02/05/2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>