<nav class="navbar-position navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/img-logo.png" alt="Logo de Snippets" class="img-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/add-snippet" class="nav-snippet-link kTwZBr lhSFdZ">Ajouter un snippet</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"
integrity="sha512-WgkYwCpxrSMaDDSt5D5ue5m1i5aUBc6KjzypUwrWx+tPgZ0dHeOgSPDMjK8ghWJue5y5D5a5Ny0QH3qWjFgncQ=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>